:root {
  /**
   * Colour palette
   */
  --c-primary: hsla(42, 60%, 61%, 1);
  --c-primary-transp: rgba(215, 179, 95, 0.7);

  --c-secondary: hsl(0, 0%, 100%);
  --c-secondary-transp: hsla(0, 0%, 100%, 0.7);

  /**
   * Layout
   */
  --l-gutter: 1rem;

  /**
   * Typography
   */
  --t-primary: "mrs-eaves-xl-serif-narrow", serif;
  --t-primary-extra-large: 36px;
  --t-primary-large: 30px;
  --t-primary-medium: 24px;

  --t-secondary: "mrs-eaves-xl-serif-narrow", serif;

  --t-headline: var(--t-primary);
  --t-subtitle: var(--t-primary);
  --t-body: var(--t-secondary);
  --t-code: var(--t-secondary);
}